@brightest-blue: #c8e2f1;
@light-blue: #8badc0;
@blue: #35576c;
@dark-blue: #1d2246;

@brightest-yellow: #fff0b0;
@light-yellow: #dbc774;
@yellow: #87721a;
@dark-yellow: #5b4a02;

@brightest-purple: #8e85b6;
@light-purple: #645998;
@purple: #271b5d;
@dark-purple: #140933;

@brightest-red: #ffb0bd;
@light-red: #db7485;
@red: #871a2c;
@dark-red: #5b0211;

@crazy-color1: #ceff48;
@crazy-color2: #e095ac;
@crazy-color3: #82ff9a;
@crazy-color4: #ff5659;
@crazy-color5: #ceff48;
@crazy-color6: #2b3fff;
@crazy-color7: #81ffe6;
@crazy-color8: #ffd143;

@page-width: 1000px;

.shadow() {
    box-shadow: 100px 300px 100px rgba(0,0,0,0.15);
}