@import "_mixins";

html * {
    //font-family: 'Istok Web', sans-serif;
    font-family: Cabin, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: @brightest-yellow;
    margin: 0;
}

.cd-timeline-content {

    @media (min-width: 1000px) and (max-width: 1170px) {
        display: flex;

        & > div {
            flex: 1;
            &:nth-child(2) {
                text-align: right;
            }
        }
    }
    img {
        width: 330px;
        @media (max-width: 550px) {
            width: 100%;
        }
    }

}

.background {
    transform: translate3d(0px,0px,0px);
    background: url("../images/bg.jpg");
    opacity: 0.15;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 200%;
}

h1, h2, h3, h4 {
    font-variant: small-caps;
    margin: 0;
}

h1 {
    font-size: 63px;
    color: @dark-blue;
}

h2, h3 {
    font-size: 60px;
    color: @dark-blue;
    font-weight: bold;
}

h4 {
    color: @brightest-blue;
    font-size: 20px;
}

br {
    clear: both;
}

#content {
    position: relative;
}

header {
    background: @dark-purple;
    margin: 0;
    padding: 30px 0;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.9);

    img {
        float: right;
        border-radius: 100%;
        clear: right;

        @media (max-width: 500px) {
            width: 100%;
        }
    }

    h1 {
        color: @brightest-purple;
    }

    h2 {
        color: @light-blue;
        font-size: 45px;
    }
}

section {
    margin-top: 30px;
    width: 100%;
    display: block;

    h2 {
        margin: 13px 0 8px;
        display: inline-block;
        text-decoration: underline;
        background: rgba(255, 255, 255, 0.5);
    }
}

.page {
    width: @page-width;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;

    @media (max-width: 1000px) {
        width: 100%;
    }
}

.var {
    font-weight: bold;
    color: @brightest-red;
}

/*
.info div {
    margin: 10px 0;
}

.info img {
    width: 40%;
    float: left;
    margin-right: 20px;
}

.info a {
    float: left;
}

.info ul {
    display: block;
    width: 40%;
}
*/
a {
    text-decoration: none;
    color: white;
    border-bottom: 1px dashed @light-blue;
}

a:hover {
    text-decoration: none;
    color: @light-blue;
}

ul {
    display: block;
    float: left;
    margin: 0 0 0 15px;
    padding: 0;
}

#signature {
    border-top: 1px solid #c0c0c0;
    margin-top: 30px;
    padding-top: 15px;
    img {
        float: right;
        display: block;
    }
    div {
        display: block;
        width: 200px;
        float: right;
        text-align: right;
    }
}

#skills {
    margin-bottom: 50px;

    .list {
        text-align: center;

        .first-line {
            margin: 40px 0;
        }

        & > div {
            display: inline-block;
            width: 300px;
            position: relative;
            left: 0;

            -webkit-transition: all 0.50s;
            -moz-transition: all 0.50s;
            -o-transition: all 0.50s;
            transition: all 0.50s;

            &.hidden {
                left: -3000px;
            }

            img {
                width: 200px;
                .shadow();
            }

            i {
                overflow: hidden;

                -webkit-transition: all 0.50s;
                -moz-transition: all 0.50s;
                -o-transition: all 0.50s;
                transition: all 0.50s;

                position: absolute;
                bottom: -20px;
                left: 150px;
                color: #78c900;
                font-size: 20px;
                font-weight: bold;
                width: 200px;

                &:before {
                    font-size: 60px;
                }

                &.hidden {
                    width: 0;
                }
            }
        }
    }

}

#what-i-use {

    ul {
        list-style: none;
        position: relative;

        li {
            width: 12%;
            display: inline-block;
            margin: 0 40px 20px 0;
            text-align: center;
            font-size: 20px;
            font-variant: small-caps;
            color: #c2c0c0;

            img {
                width: 100%;
                .shadow();
            }

            @media (max-width: 1000px) {
                width: 25%;
            }

            @media (max-width: 600px) {
                display: block;
                width: 100%;

                img {
                    width: 50%;
                }
                p {
                    width: 100%;
                    font-size: 35px;
                    font-weight: bold;
                    margin: 0 0 30px;
                }
            }

        }
    }

}

#likes {
    .page {
        & > ul {
            list-style: none;
            margin: 0;
            width: 100%;

            & > li {
                width: 33%;
                display: inline-block;
                margin-bottom: 30px;
                clear: both;
                border-radius: 4px;
                padding: 25px 40px 30px 0;

                @media (max-width: 800px) {
                    width: 100%;
                }

                h4 {
                    font-size: 36px;
                    color: @blue;
                    padding: 8px 0 8px 0;
                    clear: both;
                }

                img {
                    width: 100%;
                    float: left;
                    margin-right: 30px;
                    .shadow();
                }

                ul {
                    margin: 0;

                    li {
                        display: inline-block;
                        background: @brightest-blue;
                        border: 1px solid @light-blue;
                        border-radius: 5px;
                        padding: 1px 4px;
                        margin-right: 3px;
                        margin-bottom: 9px;
                    }
                }
            }
        }
    }
}

footer {
    background: darken(@dark-purple, 5%);

    & > .page {
        padding: 40px 30px;
        h2 {
            color: @brightest-purple;
        }
    }

}

.tl-color1 {
    background: @crazy-color1;
}

.tl-color2 {
    background: @crazy-color2;
}

.tl-color3 {
    background: @crazy-color3;
}

.tl-color4 {
    background: @crazy-color4;
}

.tl-color5 {
    background: @crazy-color5;
}

.tl-color6 {
    background: @crazy-color6;
}

.tl-color7 {
    background: @crazy-color7;
}

.tl-color8 {
    background: @crazy-color8;
}
