html * {
  font-family: Cabin, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #fff0b0;
  margin: 0;
}
@media (min-width: 1000px) and (max-width: 1170px) {
  .cd-timeline-content {
    display: flex;
  }
  .cd-timeline-content > div {
    flex: 1;
  }
  .cd-timeline-content > div:nth-child(2) {
    text-align: right;
  }
}
.cd-timeline-content img {
  width: 330px;
}
@media (max-width: 550px) {
  .cd-timeline-content img {
    width: 100%;
  }
}
.background {
  transform: translate3d(0px, 0px, 0px);
  background: url("../images/bg.jpg");
  opacity: 0.15;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
}
h1,
h2,
h3,
h4 {
  font-variant: small-caps;
  margin: 0;
}
h1 {
  font-size: 63px;
  color: #1d2246;
}
h2,
h3 {
  font-size: 60px;
  color: #1d2246;
  font-weight: bold;
}
h4 {
  color: #c8e2f1;
  font-size: 20px;
}
br {
  clear: both;
}
#content {
  position: relative;
}
header {
  background: #140933;
  margin: 0;
  padding: 30px 0;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.9);
}
header img {
  float: right;
  border-radius: 100%;
  clear: right;
}
@media (max-width: 500px) {
  header img {
    width: 100%;
  }
}
header h1 {
  color: #8e85b6;
}
header h2 {
  color: #8badc0;
  font-size: 45px;
}
section {
  margin-top: 30px;
  width: 100%;
  display: block;
}
section h2 {
  margin: 13px 0 8px;
  display: inline-block;
  text-decoration: underline;
  background: rgba(255, 255, 255, 0.5);
}
.page {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}
@media (max-width: 1000px) {
  .page {
    width: 100%;
  }
}
.var {
  font-weight: bold;
  color: #ffb0bd;
}
/*
.info div {
    margin: 10px 0;
}

.info img {
    width: 40%;
    float: left;
    margin-right: 20px;
}

.info a {
    float: left;
}

.info ul {
    display: block;
    width: 40%;
}
*/
a {
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed #8badc0;
}
a:hover {
  text-decoration: none;
  color: #8badc0;
}
ul {
  display: block;
  float: left;
  margin: 0 0 0 15px;
  padding: 0;
}
#signature {
  border-top: 1px solid #c0c0c0;
  margin-top: 30px;
  padding-top: 15px;
}
#signature img {
  float: right;
  display: block;
}
#signature div {
  display: block;
  width: 200px;
  float: right;
  text-align: right;
}
#skills {
  margin-bottom: 50px;
}
#skills .list {
  text-align: center;
}
#skills .list .first-line {
  margin: 40px 0;
}
#skills .list > div {
  display: inline-block;
  width: 300px;
  position: relative;
  left: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#skills .list > div.hidden {
  left: -3000px;
}
#skills .list > div img {
  width: 200px;
  box-shadow: 100px 300px 100px rgba(0, 0, 0, 0.15);
}
#skills .list > div i {
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  bottom: -20px;
  left: 150px;
  color: #78c900;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
}
#skills .list > div i:before {
  font-size: 60px;
}
#skills .list > div i.hidden {
  width: 0;
}
#what-i-use ul {
  list-style: none;
  position: relative;
}
#what-i-use ul li {
  width: 12%;
  display: inline-block;
  margin: 0 40px 20px 0;
  text-align: center;
  font-size: 20px;
  font-variant: small-caps;
  color: #c2c0c0;
}
#what-i-use ul li img {
  width: 100%;
  box-shadow: 100px 300px 100px rgba(0, 0, 0, 0.15);
}
@media (max-width: 1000px) {
  #what-i-use ul li {
    width: 25%;
  }
}
@media (max-width: 600px) {
  #what-i-use ul li {
    display: block;
    width: 100%;
  }
  #what-i-use ul li img {
    width: 50%;
  }
  #what-i-use ul li p {
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 30px;
  }
}
#likes .page > ul {
  list-style: none;
  margin: 0;
  width: 100%;
}
#likes .page > ul > li {
  width: 33%;
  display: inline-block;
  margin-bottom: 30px;
  clear: both;
  border-radius: 4px;
  padding: 25px 40px 30px 0;
}
@media (max-width: 800px) {
  #likes .page > ul > li {
    width: 100%;
  }
}
#likes .page > ul > li h4 {
  font-size: 36px;
  color: #35576c;
  padding: 8px 0 8px 0;
  clear: both;
}
#likes .page > ul > li img {
  width: 100%;
  float: left;
  margin-right: 30px;
  box-shadow: 100px 300px 100px rgba(0, 0, 0, 0.15);
}
#likes .page > ul > li ul {
  margin: 0;
}
#likes .page > ul > li ul li {
  display: inline-block;
  background: #c8e2f1;
  border: 1px solid #8badc0;
  border-radius: 5px;
  padding: 1px 4px;
  margin-right: 3px;
  margin-bottom: 9px;
}
footer {
  background: #0c051d;
}
footer > .page {
  padding: 40px 30px;
}
footer > .page h2 {
  color: #8e85b6;
}
.tl-color1 {
  background: #ceff48;
}
.tl-color2 {
  background: #e095ac;
}
.tl-color3 {
  background: #82ff9a;
}
.tl-color4 {
  background: #ff5659;
}
.tl-color5 {
  background: #ceff48;
}
.tl-color6 {
  background: #2b3fff;
}
.tl-color7 {
  background: #81ffe6;
}
.tl-color8 {
  background: #ffd143;
}
/*# sourceMappingURL=main.css.map */